<h1>Sửa lớp</h1>
<form action="/update" method="post">
    Id: <input type="text" name="id" value="<%= lop.id %>"><br>
    Name: <input type="text" name="name" value="<%= lop.name %>"><br>
    Number student: <input type="text" name="numberStudent" value="<%= lop.numberStudent %>"><br>
    Date time: <input type="text" name="dateTime" value="<%= lop.dateTime %>"><br>
    Gender: <input type="text" name="gender" value="<%= lop.gender %>"><br>
    Home town: <input type="text" name="homeTown" value="<%= lop.homeTown %>"><br>
    <button>Next</button>
</form>